table
{
	table-layout: fixed;
}

body
{
	/*
	background-image: url("background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	*/
}

.menu
{
	background-image: url("menuBackground.png");
	background-repeat: repeat;

	padding-left: 0.5%;
	padding-right: 0.5%;

	box-shadow: 5px 5px 10px #000000;

	color: white;
}

.menuItem
{
	color: white;

	cursor: pointer;
}

.menuItem:hover
{
	background-color: #642F0F;
}

#phrase
{
	padding: 15px;

	margin: 0.5%;

	width: 98.5%;
}

#prefixes
{
	border-collapse: separate;
	border-spacing: 2px 4px;

	margin-left: 0.5%;
	margin-right: 0.5%;

	float: left;
	width: 44%;
}

#suffixCategories
{
	display: none;

	border-collapse: separate;
	border-spacing: 2px 4px;

	margin-right: 0.5%;

	float: left;
	width: 18.5%;
}

#suffixes
{
	display: none;

	border-collapse: separate;
	border-spacing: 2px 4px;

	float: left;
	width: 33.5%;
}
