#phrase
{
	background-image: url("background.png");
	background-repeat: repeat;

	border: 1px solid black;

	padding: 5px;

	margin-bottom: 5px;

	color: white;
}

#prefixes
{
	background-image: url("background.png");
	background-repeat: repeat;

	border: 1px solid red;

	padding: 0.5%;

	margin-right: 0.5%;

	float: left;
	width: 45%;

	color: red;
}

#suffixCategories
{
	display: none;

	background-image: url("background.png");
	background-repeat: repeat;

	border: 1px solid blue;

	padding: 0.5%;

	margin-right: 0.5%;

	float: left;
	width: 20%;

	color: blue;
}

#suffixes
{
	display: none;

	background-image: url("background.png");
	background-repeat: repeat;

	border: 1px solid green;

	padding: 0.5%;

	float: left;
	width: 30.5%;

	color: green;
}

#menuItem
{
	color: white;

	margin-bottom: 2px;

	border-top: 2px solid #996600;
	border-bottom: 2px solid #996600;

	cursor: pointer;
}

#menuItem:hover
{
	background-color: #642F0F;
}
